@model IEnumerable<OdeToFood.Models.Restaurant>

@{
    ViewBag.Title = "Robert Ode To Food and Learning ASP.NET MVC and GIT";
}

<div>Robert Dannelly Loves Suzanne Dannelly </div>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <hr />
    </div>
    
    
}
    

